<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Scrolling Nav - Start Bootstrap Template</title>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"
/>
<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>
<!-- MDB -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css"
  rel="stylesheet"
/>
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="#page-top">Frontend con Python</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
               
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Benvenuti !</h1>
                <p class="lead">Pagina web con chiamate python. </p>
                <!--<mat-spinner></mat-spinner>-->
                <br><br>
                <button class="btn btn-lg btn-secondary" (click)="openModalInsert(contentInsert)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
                </svg> Aggiungi </button><br><br>

            </div>

        </header>
    
        <!-- Services section-->
    
        <!-- Contact section-->
     <section>
          <div class="container px-4">
            <div class="row gx-4 justify-content-center">
              <div class="col-lg-8">
               
                <table class="table table-bordered" >
                  <div class="text-center">
                    <div *ngIf="spinner" class="spinner-border" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>
                  <thead class="thead-dark" >
                    <tr>
                      <th *ngFor="let header of keyData" scope="col">{{header}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of valueData">
                      <td scope="col"><button class="btn btn-primary" onclick="window.dialog.showModal();" (click)="onClickDetail(data)">Visualizza</button>
                      <br><br><button  class="btn btn-danger" (click)="open(content,data._id)" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                          <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                        </svg>Elimina</button></td>
                      <td scope="col">{{data.Entity}}</td>
                      <td scope="col">{{data.Isin}}</td>
                      <td scope="col">{{data.InstrumentName}}</td>
                      <td scope="col">{{data.MaturityDate}}</td>
                      <td scope="col">{{data.IssuerName}}</td>
                      <td scope="col">{{data.IssuerCode}}</td>
                      <td scope="col">{{data.Currency}}</td>
                      <td scope="col">{{data.MarketCode}}</td>
                      <td scope="col">{{data.AgentName}}</td>
                      <td scope="col">{{data.SettledQty}}</td>
                      <td scope="col">{{data.LatestCleanPrice}}</td>
                      <td scope="col">{{data.LatestDirtyPrice}}</td>
                      <td scope="col">{{data.PriceSource}}</td>
                      <td scope="col">{{data.SettledValue}}</td>
                      <td scope="col">{{data.BVALScore}}</td>
                      <td scope="col">{{data.EligibileBCE}}</td>
                      <td scope="col">{{data.EligibileFED}}</td>
                      <td scope="col">{{data.EligibileHKM}}</td>
                      <td scope="col">{{data.EligibileBOE}}</td>
                      <td scope="col">{{data.Marketability}}</td>
                      <td scope="col">{{data.LiquidityClass}}</td>
                      <td scope="col">{{data.LiquidityClassHaircut}}</td>
                      <td scope="col">{{data.LiquidityClassStressHaircut}}</td>
                      <td scope="col">{{data.LiquidityClassPolicyHaircut}}</td>
                      <td scope="col">{{data.LiquidityTypeName}}</td>
                      <td scope="col">{{data.SecurityTypeName}}</td>
                      <td scope="col">{{data.BBGLiquidityClassDate}}</td>
                      <td scope="col">{{data.BBGLiquidityClass}}</td>
                      <td scope="col">{{data.LRSNarrative}}</td>
                      <td scope="col">{{data.BloombergCode}}</td>


  
                    </tr>
                  </tbody>
                </table>
              </div> 
            </div>
          </div>
        </section>
          <!-- Button trigger modal -->
              <dialog id="dialog">
                <table *ngIf="detailData != null" id="tableModal" class="table-resp" >
                  <thead>
                    <tr>
                      <th>Title</th>
                      <th>Value</th>
                    </tr>
                  </thead>
                  <tbody class="tableStye" >
                    <tr >
                      <td>id</td>
                      <td id="saveId" contenteditable="true" value="detailData._id">{{detailData._id}}</td>
                    </tr>
                    <tr >
                      <td>Entity</td>
                      <td id="save" contenteditable="true" value="detailData.Entity">{{detailData.Entity}}</td>
                    </tr>
                    <tr>
                    <td>Isin</td>
                    <td id="save2" contenteditable="true" value = "detailData.Isin">{{detailData.Isin}}</td>
                    </tr>
                    <tr>
                      <td>InstrumentName</td>
                      <td id="save3"  contenteditable="true" value="detailData.InstrumentName">{{detailData.InstrumentName}}</td>
                    </tr>
                    <tr>
                      <td>MaturityDate</td>
                      <td id="save4" contenteditable="true" value="detailData.MaturityDate">{{detailData.MaturityDate}}</td>
                    </tr>
                    <tr>
                      <td>IssuerName</td>
                      <td id="save5" contenteditable="true"value="detailData.IssuerName ">{{detailData.IssuerName}}</td>
                    </tr>
                    <tr>
                      <td>IssuerCode</td>
                      <td id="save6"contenteditable="true" value="detailData.IssuerCode ">{{detailData.IssuerCode}}</td>
                    </tr> 
                    <tr>
                      <td>Currency</td>
                      <td id="save7" contenteditable="true" value="detailData.Currency">{{detailData.Currency}}</td>
                    </tr>
                    <tr>
                      <td>MarketCode</td>
                      <td id="save8" contenteditable="true" value="detailData.MarketCode">{{detailData.MarketCode}}</td>
                    </tr>
                    <tr>
                      <td>AgentName</td>
                      <td id="save9" contenteditable="true" value="detailData.AgentName">{{detailData.AgentName}}</td>
                    </tr>
                    <tr>
                      <td>SettledQty</td>
                      <td id="save10" contenteditable="true" value = "detailData.SettledQty">{{detailData.SettledQty}}</td>
                    </tr>
                    <tr>
                      <td>LatestCleanPrice</td>
                      <td id="save11"contenteditable="true"value = "detailData.LatestCleanPrice">{{detailData.LatestCleanPrice}}</td>
                    </tr>
                    <tr>
                      <td>LatestDirtyPrice</td>
                      <td id="save12"contenteditable="true"value = "detailData.LatestDirtyPrice">{{detailData.LatestDirtyPrice}}</td>
                    </tr>
                    <tr>
                      <td>PriceSource</td>
                      <td id="save13" contenteditable="true"value = "detailData.PriceSource">{{detailData.PriceSource}}</td>
                    </tr>
                    <tr>
                      <td>SettledValue</td>
                      <td id="save14" contenteditable="true"value = "detailData.SettledValue">{{detailData.SettledValue}}</td>
                    </tr>
                    <tr>
                      <td>Current6A6Value</td>
                      <td id="save15" contenteditable="true"value = "detailData.Current6A6Value">{{detailData.Current6A6Value}}</td>
                    </tr>
                    <tr>
                      <td>BVALScore</td>
                      <td id="save16" xcontenteditable="true"value = "detailData.BVALScore">{{detailData.BVALScore}}</td>
                    </tr>
                    <tr>
                      <td>Moodys</td>
                      <td id="save17" xcontenteditable="true"value = "detailData.Moodys">{{detailData.Moodys}}</td>
                    </tr>
                    <tr>
                      <td>StandardAndPoors</td>
                      <td id="save18" contenteditable="true"value = "detailData.StandardAndPoors">{{detailData.StandardAndPoors}}</td>
                    </tr>
                    <tr>
                      <td>Fitch</td>
                      <td id="save19"contenteditable="true"value = "detailData.Fitch">{{detailData.Fitch}}</td>
                    </tr>
                    <tr>
                      <td>EligibileBCE</td>
                      <td id="save20" contenteditable="true"value = "detailData.EligibileBCE">{{detailData.EligibileBCE}}</td>
                    </tr>
                    <tr>
                      <td>HaircutBCE</td>
                      <td id="save21" contenteditable="true"value = "detailData.HaircutBCE">{{detailData.HaircutBCE}}</td>
                    </tr>
                    <tr>
                      <td>EligibileFED</td>
                      <td id="save22" contenteditable="true"value = "detailData.EligibileFED">{{detailData.EligibileFED}}</td>
                    </tr>
                    <tr>
                      <td>HaircutFED</td>
                      <td id="save23" xcontenteditable="true"value = "detailData.HaircutFED">{{detailData.HaircutFED}}</td>
                    </tr>
                    <tr>
                      <td>EligibileHKM</td>
                      <td id="save24" contenteditable="true"value = "detailData.EligibileHKM">{{detailData.EligibileHKM}}</td>
                    </tr>
                    <tr>
                      <td>HaircutHKM</td>
                      <td id="save25" contenteditable="true"value = "detailData.HaircutHKM">{{detailData.HaircutHKM}}</td>
                    </tr>
                    <tr>
                      <td>EligibileBOE</td>
                      <td id="save26" contenteditable="true"value = "detailData.EligibileBOE">{{detailData.EligibileBOE}}</td>
                    </tr>
                    <tr>
                      <td>HaircutBOE</td>
                      <td id="save27" contenteditable="true"value = "detailData.HaircutBOE">{{detailData.HaircutBOE}}</td>
                    </tr>
                    <tr>
                      <td>Marketability</td>
                      <td id="save28" contenteditable="true"value = "detailData.Marketability">{{detailData.Marketability}}</td>
                    </tr>
                    <tr>
                      <td>LiquidityClass</td>
                      <td id="save29" contenteditable="true"value = "detailData.LiquidityClass">{{detailData.LiquidityClass}}</td>
                    </tr>
                    <tr>
                      <td>LiquidityClassHaircut</td>
                      <td id="save30" contenteditable="true"value = "detailData.LiquidityClassHaircut">{{detailData.LiquidityClassHaircut}}</td>
                    </tr>
                    
                    <tr>
                      <td>LiquidityClassStressHaircut</td>
                      <td id="save31" contenteditable="true"value = "detailData.LiquidityClassStressHaircut">{{detailData.LiquidityClassStressHaircut}}</td>
                    </tr>
                    <tr>
                      <td>LiquidityClassPolicyHaircut</td>
                      <td id="save32" contenteditable="true"value = "detailData.LiquidityClassPolicyHaircut">{{detailData.LiquidityClassPolicyHaircut}}</td>
                    </tr>
                    <tr>
                      <td>LiquidityTypeName</td>
                      <td id="save33" contenteditable="true"value = "detailData.LiquidityTypeName">{{detailData.LiquidityTypeName}}</td>
                    </tr>
                    <tr>
                      <td >SecurityTypeName</td>
                      <td id="save34" contenteditable="true"value = "detailData.SecurityTypeName">{{detailData.SecurityTypeName}}</td>
                    </tr>
                    <tr>
                      <td>BBGLiquidityClassDate</td>
                      <td id="save35" contenteditable="true"value = "detailData.BBGLiquidityClassDate">{{detailData.BBGLiquidityClassDate}}</td>
                    </tr>
                    <tr>
                      <td>BBGLiquidityClass</td>
                      <td id="save36" contenteditable="true"value = "detailData.BBGLiquidityClass">{{detailData.BBGLiquidityClass}}</td>
                    </tr>
                    <tr>
                      <td>LRSNarrative</td>
                      <td id="save37" contenteditable="true"value = "detailData.SettledQty">{{detailData.SettledQty}}</td>
                    </tr>
                    <tr>
                      <td>FactorType</td>
                      <td id="save38" contenteditable="true"value = "detailData.FactorType">{{detailData.FactorType}}</td>
                    </tr>
                    <tr>
                      <td>BloombergCode</td>
                      <td id="save39" contenteditable="true"value = "detailData.BloombergCode">{{detailData.BloombergCode}}</td>
                    </tr>
                    
                    
                  </tbody>
                </table><br>

                <div *ngIf="alert" id="alertSuccess" class="alert alert-success alert-dismissible fade show"  role="alert" >
                  {{alertMessage}}
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                </div>
                <br>
                <input  type="button"  id="liveAlertPlaceholder" value="Salva dati" class="form-control" (click)="updateData(detailData)">
                <button onclick="window.dialog.close();" aria-label="close" class="x">❌</button>
              </dialog>
              <ng-template #content let-modal >
                <div class="modal-header" *ngIf="detailData">
                  <h4 class="modal-title" id="modal-basic-title">Eliminazione</h4><br><br>
                  
                  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                </div><br><br>
                <div *ngIf="alertDelete" id="alertDelete" class="alert alert-success alert-dismissible fade show"  role="alert" >
                  {{alertMessageDelete}}
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                     <h3>Vuoi eliminare questo dato ?</h3>
                     <br> <b>id : {{detailData}}</b>
                      </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark" (click)="deleteDataApi(detailData)">Si</button>
                  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">No</button>

                </div>
              </ng-template>



              <ng-template #contentInsert let-modal >
                <div class="modal-header" >
                  <h4 class="modal-title" id="modal-basic-title">Aggiungi</h4>
                  
                  <br><br>

                  
                  
                  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                </div><br><br>

                <div *ngIf="alertinsert" id="alerterror" class="alert alert-danger alert-dismissible fade show"  role="alert" >
                  {{alertMessageInsert}}
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                </div>

                <div *ngIf="alertinsertSuccess" id="alerterrorSuccces" class="alert alert-success alert-dismissible fade show"  role="alert" >
                  {{alertMessageInsertSucces}}
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                </div>
                
                <div class="modal-body">
                    <div class="mb-3">
                      <table  id="tableInsertdata" class="table-resp" >
                        <thead>
                          <tr>
                            <th>Title</th>
                            <th>Value</th>
                          </tr>
                        </thead>
                        <tbody class="tableStye" >
                         
                          <tr >
                            <td>{{keysModalInsert[1]}}</td>
                            <td id="save1" contenteditable="true" ></td>
                          </tr>
                          <tr >
                            <td>{{keysModalInsert[2]}}</td>
                            <td id="save" contenteditable="true" ></td>
                          </tr>
                          <tr>
                            <td>{{keysModalInsert[3]}}</td>
                          <td id="save2" contenteditable="true" ></td>
                          </tr>
                          <tr>
                            <td>{{keysModalInsert[4]}}</td>
                            <td id="save3"  contenteditable="true"></td>
                          </tr> 
                          <tr>
                            <td>{{keysModalInsert[5]}}</td>
                            <td id="save4"  contenteditable="true"></td>
                          </tr> 
                          <tr>
                            <td>{{keysModalInsert[6]}}</td>
                            <td id="save5"  contenteditable="true"></td>
                          </tr> 
                          <tr>
                            <td>{{keysModalInsert[7]}}</td>
                            <td id="save6"  contenteditable="true"></td>
                          </tr> 
                          <tr>
                            <td>{{keysModalInsert[8]}}</td>
                            <td id="save7"  contenteditable="true"></td>
                          </tr> 
                          <tr>
                            <td>{{keysModalInsert[9]}}</td>
                            <td id="save8"  contenteditable="true"></td>
                          </tr> 
                          <tr>
                            <td>{{keysModalInsert[10]}}</td>
                            <td id="save9"  contenteditable="true"></td>
                          </tr>
                          <tr>
                            <td>{{keysModalInsert[11]}}</td>
                            <td id="save10"  contenteditable="true"></td>
                          </tr>
                          <tr>
                            <td>{{keysModalInsert[12]}}</td>
                            <td id="save11"  contenteditable="true"></td>
                          </tr>
                          <tr>
                            <td>{{keysModalInsert[13]}}</td>
                            <td id="save12"  contenteditable="true"></td>
                          </tr>
                          <tr>
                            <td>{{keysModalInsert[14]}}</td>
                            <td id="save13"  contenteditable="true"></td>
                          </tr>
                          <tr>
                            <td>{{keysModalInsert[15]}}</td>
                            <td id="save14"  contenteditable="true"></td>
                          </tr>
                          <tr>
                            <td>{{keysModalInsert[16]}}</td>
                            <td id="save15"  contenteditable="true"></td>
                          </tr>
                          <tr>
                            <td>{{keysModalInsert[17]}}</td>
                            <td id="save16"  contenteditable="true"></td>
                          </tr>
                          <tr>
                            <td>{{keysModalInsert[18]}}</td>
                            <td id="save17"  contenteditable="true"></td>
                          </tr>
                          <tr>
                            <td>{{keysModalInsert[19]}}</td>
                            <td id="save18"  contenteditable="true"></td>
                          </tr>
                          <tr>
                            <td>{{keysModalInsert[20]}}</td>
                            <td id="save19"  contenteditable="true"></td>
                          </tr>
                          <tr>
                            <td>{{keysModalInsert[21]}}</td>
                            <td id="save20"  contenteditable="true"></td>
                          </tr>
                          <tr>
                            <td>{{keysModalInsert[22]}}</td>
                            <td id="save21"  contenteditable="true"></td>
                          </tr>
                          <tr>
                            <td>{{keysModalInsert[23]}}</td>
                            <td id="save22"  contenteditable="true"></td>
                          </tr>
                          <tr>
                            <td>{{keysModalInsert[24]}}</td>
                            <td id="save23"  contenteditable="true"></td>
                          </tr>
                          <tr>
                            <td>{{keysModalInsert[25]}}</td>
                            <td id="save24"  contenteditable="true"></td>
                          </tr>
                          <tr>
                            <td>{{keysModalInsert[26]}}</td>
                            <td id="save25"  contenteditable="true"></td>
                          </tr>
                          <tr>
                            <td>{{keysModalInsert[27]}}</td>
                            <td id="save26"  contenteditable="true"></td>
                          </tr>
                          <tr>
                            <td>{{keysModalInsert[28]}}</td>
                            <td id="save27"  contenteditable="true"></td>
                          </tr>
                          <tr>
                            <td>{{keysModalInsert[29]}}</td>
                            <td id="save28"  contenteditable="true"></td>
                          </tr>
                          <tr>
                            <td>{{keysModalInsert[30]}}</td>
                            <td id="save29"  contenteditable="true"></td>
                          </tr>
                        </tbody>
                      </table>
                     <br><br>
                     <button class="btn btn-primary" (click)="insertData()">Inserisci</button>

                      </div>
                </div>
              </ng-template>
            
            
              
              
             

              

        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!-- MDB -->
        
<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"
></script>
    </body>
</html>
