<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Scrolling Nav - Start Bootstrap Template</title>
        <!-- Core theme CSS (includes Bootstrap)-->
        
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="#page-top">Frontend con Python</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="#table">Modica</a></li>
                        <li class="nav-item"><a class="nav-link" href="#table">Inserisci</a></li>
                        <li class="nav-item"><a class="nav-link" href="#table">Cancella</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Benvenuti !</h1>
                <p class="lead">Pagina web con chiamate python. </p>
                <button class="btn btn-lg btn-light" (click) = "getApi()" >tabella JSON</button>
            </div>
        </header>
        <!-- About section-->
        <section id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Cosa troverai su questa pagina:</h2>
                        <p class="lead">Che cosa ho utilizzato per creare questa pagina:</p>
                        <ul>
                            <li>Frontend con il framework Angular. </li>
                            <li>Per lo stile della pagina ho utilizzato <a href="https://getbootstrap.com/">bootstrap</a>. </li>
                            <li>Ho utilizzato un linguaggio di backend : Python.</li>
                            <li>Ho utilizzato un database non relazionale: MongoDB.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services section-->
        <section class="bg-light" id="services">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Python:</h2>
                        <p class="lead">Python è un linguaggio di programmazione di alto livello e di uso generale. La sua filosofia di progettazione enfatizza la leggibilità del codice con l'uso di un'indentazione significativa attraverso la regola dell'off-side..</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact section-->
        <section id="contact">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>MongoDB</h2>
                        <p class="lead">MongoDB è un programma di database multipiattaforma orientato ai documenti, disponibile in formato sorgente. Classificato come database NoSQL, MongoDB utilizza documenti di tipo JSON con schemi opzionali..</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-light" id="table">
          <div class="container px-4">
            <div class="row gx-4 justify-content-center">
              <div class="col-lg-8">
                <table class="table table-bordered" >
                  <thead class="thead-dark" >
                    <tr>
                      <th *ngFor="let item of keyData" scope="col">{{item}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of valueData">
                      <td scope="col">{{data.Entity}}</td>
                      <td scope="col">{{data.Isin}}</td>
                      <td scope="col">{{data.InstrumentName}}</td>
                      <td scope="col">{{data.IssuerName}}</td>
                      <td scope="col">{{data.IssuerCode}}</td>
                      <td scope="col">{{data.Currency}}</td>
                      <td scope="col">{{data.MarketCode}}</td>
                      <td scope="col">{{data.AgentName}}</td>
                      <td scope="col">{{data.SettledQty}}</td>
                      <td scope="col">{{data.LatestCleanPrice}}</td>
                      <td scope="col">{{data.LatestDirtyPrice}}</td>
                      <td scope="col">{{data.PriceSource}}</td>
                      <td scope="col">{{data.SettledValue}}</td>
                      <td scope="col">{{data.Current6A6Value}}</td>
                      <td scope="col">{{data.BVALScore}}</td>
                      <td scope="col">{{data.Moodys}}</td>
                      <td scope="col">{{data.BVALScore}}</td>
                      <td scope="col">{{data.StandardAndPoors}}</td>
                      <td scope="col">{{data.Fitch}}</td>
                      <td scope="col">{{data.EligibileBCE}}</td>
                      <td scope="col">{{data.HaircutBCE}}</td>
                      <td scope="col">{{data.EligibileFED}}</td>
                      <td scope="col">{{data.HaircutFED}}</td>
                      <td scope="col">{{data.EligibileHKM}}</td>
                      <td scope="col">{{data.HaircutHKM}}</td>
                      <td scope="col">{{data.EligibileBOE}}</td>
                      <td scope="col">{{data.HaircutBOE}}</td>
                      <td scope="col">{{data.Marketability}}</td>
                      <td scope="col">{{data.LiquidityClass}}</td>
                      <td scope="col">{{data.LiquidityClassHaircut}}</td>
                      <td scope="col">{{data.LiquidityClassStressHaircut}}</td>
                      <td scope="col">{{data.LiquidityClassPolicyHaircut}}</td>
                      <td scope="col">{{data.LiquidityTypeName}}</td>
                      <td scope="col">{{data.SecurityTypeName}}</td>
                      <td scope="col">{{data.BBGLiquidityClassDate}}</td>
                      <td scope="col">{{data.BBGLiquidityClass}}</td>
                      <td scope="col">{{data.LRSNarrative}}</td>
                      <td scope="col">{{data.FactorType}}</td>
                      <td scope="col">{{data.BloombergCode}}</td>





                    </tr>
                  </tbody>
                </table>
              </div> 
            </div>
          </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
